In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'), columns = list('ABCD'))
data

    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

**1. 修改特定的row**

1.1修改'a'的row

In [ ]:
data.loc['a'] = ['A', 'B', 'C', 'D']
data

In [ ]:
data.iloc[0] = ['A', 'B', 'C', 'E']
data

**2. 修改特定的column**

2.1修改'A'的column

In [ ]:
data.loc[:,['A']] = ['A', 'B', 'C', 'D']
data

In [ ]:
data.iloc[:,[0]] = ['A', 'B', 'C', 'E']
data

**3. 修改全部column**

In [ ]:
data.columns = ['W', 'X', 'Y', 'Z']
data

**4. 插入特定row**

4.1 插入到最後一row後面

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'), columns = list('ABCD'))
dataAdd = pd.DataFrame(np.arange(4).reshape(1,4), index = list('e'), columns = list('ABCD'))
data = data.append(dataAdd)
data

4.2 插入到指定row後面

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'), columns = list('ABCD'))
dataAdd = pd.DataFrame(np.arange(4).reshape(1,4), index = list('e'), columns = list('ABCD'))
data1 = data.iloc[:1, :]
data2 = data.iloc[1:, :]
dataNew = pd.concat([data1, dataAdd, data2])
dataNew

**5. 插入特定column**

5.1 插入到最後一column之後

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'), columns = list('ABCD'))
data['E'] = ['W', 'X', 'Y', 'Z']
data

5.2 插入到指定column後面

In [ ]:
dataRangeD = pd.date_range(start = '2021/09/01', end = '2021/9/30', freq = '1D') #freq = '1D': 間格是以1天為單位
dates = pd.DataFrame(dataRangeD, columns = ['Date'])
dates['Data'] = [1]*dates.shape[0]
dates.insert(1, "Day of Week", dates['Date'].dt.day_name())
dates