In [2]:
import pandas as pd
import numpy as np

## Create

In [ ]:
RawData = { "Day":['9/4', '9/5', '9/6', '9/7', '9/8', '9/9', '9/10', '9/11'],
            "Revnue":[100, 120, 130, 110, 200, 160, 100, 180],
            "Cost":[10.0, 12.0, 13.0, 11.0, 20.0, 16.0, 10.0, 18.0]}
df = pd.DataFrame(RawData)
df

## Read

**1.讀取檔案**

In [ ]:
df = pd.read_csv('kc_house_data.csv')
df

**2.提取DataFrame中特定位置**

## Update

**1.修改特定的row**

In [3]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'), columns = list('ABCD'))
data

    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [ ]:
#取索引為'a'的row
data.loc['a'] = ['A', 'B', 'C', 'D']
data.iloc[0]
data

**2.修改特定的column**

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'), columns = list('ABCD'))
data

In [ ]:
#取'A'的column
data.loc[:,['A']] = ['A', 'B', 'C', 'D']
data.iloc[:,[0]]
data

**3.修改全部column**

In [ ]:
#方法一
df = pd.read_csv('nst-est2020.csv')
df.columns = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S']
df

In [ ]:
#方法二
columnNames = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S']
df = pd.read_csv('nst-est2020.csv', names = columnNames, header = 0)
df

**4.插入特定row**

In [ ]:
#插入到最後一row後面
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'), columns = list('ABCD'))
dataAdd = pd.DataFrame(np.arange(4).reshape(1,4), index = list('e'), columns = list('ABCD'))
data.append(dataAdd)

In [ ]:
#插入到指定row後面: 先將原始的df在第i行切割，分成兩個部分df1和df2。然後再利用pd.concat()將[df1, df_add, df2]合併成一個df
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'), columns = list('ABCD'))
dataAdd = pd.DataFrame(np.arange(4).reshape(1,4), index = list('e'), columns = list('ABCD'))
data1 = data.iloc[:1, :]
data2 = data.iloc[1:, :]
dataNew = pd.concat([data1, dataAdd, data2])
data1

**5.插入特定column**

In [ ]:
#插入到最後一column之後
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'), columns = list('ABCD'))
data['E'] = ['W', 'X', 'Y', 'Z']
data

In [ ]:
#插入到指定row後面:
dataRangeD = pd.date_range(start = '2021/09/01', end = '2021/9/30', freq = '1D') #freq = '1D': 間格是以1天為單位
dates = pd.DataFrame(dataRangeD, columns = ['Date'])
dates['Data'] = [1]*dates.shape[0]
dates.insert(1, "Day of Week", dates['Date'].dt.day_name())
dates

## Delete

In [ ]:
#插入到指定column後面

**1.刪除特定row**

In [9]:
df = pd.DataFrame([['Jhon',15,'A'],['Anna',19,'B'],['Paul',25,'D']])
df.columns = ['Name','Age','Grade']

In [15]:
i = df[((df.Name == 'Jhon') & ( df.Age == 15) & (df.Grade == 'A'))].index.tolist()
df_dropRow = df.drop(i, axis=0)
df_dropRow

**2.刪除特定column**

In [ ]:
df = pd.DataFrame([['Jhon',15,'A'],['Anna',19,'B'],['Paul',25,'D']])
df.columns = ['Name','Age','Grade']
df

In [ ]:
df_dropColumn = df.drop(['Age'], axis=1)
df_dropColumn