In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'), columns = list('ABCD'))
data

    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

**1. 修改特定的row**

1.1修改a的row

In [ ]:
data.loc['a'] = ['A', 'B', 'C', 'D']
data

In [11]:
data.iloc[0] = ['A', 'B', 'C', 'E']
data

   A   B   C   D
a  A   B   C   E
b  B   5   6   7
c  C   9  10  11
d  D  13  14  15

**2. 修改特定的column**

2.1修改A的column

In [12]:
data.loc[:,['A']] = ['A', 'B', 'C', 'D']
data

   A   B   C   D
a  A   B   C   E
b  B   5   6   7
c  C   9  10  11
d  D  13  14  15

In [15]:
data.iloc[:,[0]] = ['A', 'B', 'C', 'E']
data

   A   B   C   D
a  A   B   C   E
b  B   5   6   7
c  C   9  10  11
d  E  13  14  15

**3. 修改全部column**

In [ ]:
data.columns = ['W', 'X', 'Y', 'Z']
data

**4. 插入特定row**

4.1 插入到最後一row後面

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'), columns = list('ABCD'))
dataAdd = pd.DataFrame(np.arange(4).reshape(1,4), index = list('e'), columns = list('ABCD'))
data = data.append(dataAdd)
data

4.2 插入到指定row後面

In [27]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'), columns = list('ABCD'))
dataAdd = pd.DataFrame(np.arange(4).reshape(1,4), index = list('e'), columns = list('ABCD'))
data1 = data.iloc[:1, :]
data2 = data.iloc[1:, :]
dataNew = pd.concat([data1, dataAdd, data2])
dataNew

    A   B   C   D
a   0   1   2   3
e   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

**5. 插入特定column**