In [3]:
import pandas as pd
import numpy as np

**1.刪除特定row**

In [4]:
df = pd.DataFrame([['Jhon',15,'A'],['Anna',19,'B'],['Paul',25,'D']])
df.columns = ['Name','Age','Grade']
df

   Name  Age Grade
0  Jhon   15     A
1  Anna   19     B
2  Paul   25     D

In [5]:
i = df[((df.Name == 'Jhon') & ( df.Age == 15) & (df.Grade == 'A'))]
i

[0]

In [ ]:
df_dropRow = df.drop(i, axis=0)
df_dropRow

**2.刪除特定column**

In [ ]:
df_dropColumn = df.drop(['Age'], axis=1)
df_dropColumndf = pd.DataFrame([['Jhon',15,'A'],['Anna',19,'B'],['Paul',25,'D']])
df.columns = ['Name','Age','Grade']
df

In [ ]:
df_dropColumn = df.drop(['Age'], axis=1)
df_dropColumn