In [2]:
import pandas as pd
import numpy as np

In [3]:
RawData = { "Day":['9/4', '9/5', '9/6', '9/7', '9/8', '9/9', '9/10', '9/11'],
            "Revenue":[100, 120, 130, 110, 200, 160, 100, 180],
            "Cost":[10.0, 10.0, 13.0, 11.0, 20.0, 16.0, 10.0, 18.0]}
df = pd.DataFrame(RawData)
df

    Day  Revenue  Cost
0   9/4      100  10.0
1   9/5      120  10.0
2   9/6      130  13.0
3   9/7      110  11.0
4   9/8      200  20.0
5   9/9      160  16.0
6  9/10      100  10.0
7  9/11      180  18.0

**1. 使用Boolean篩選**

1.1 單一條件

In [ ]:
mask = df['Day']=='9/4'
df[mask]

1.2 多條件篩選

In [ ]:
mask = (df['Day'] == '9/11') & ( df['Revenue'] == 180) & (df['Cost'] == 18.0)
df[mask]

1.3 使用Boolean選到特定的index

In [ ]:
i = df[((df['Day'] == '9/11') & ( df['Revenue'] == 180) & (df['Cost'] == 18.0))].index.tolist()

**2. 使用where: 讓不符合的值變成NaN**

In [ ]:
mask = df['Day'] != '9/4' 
df.where(mask)

**3. isin**

In [4]:
mask = df['Day'].isin(['9/4', '9/11'])
df[mask]

    Day  Revenue  Cost
0   9/4      100  10.0
7  9/11      180  18.0